{% extends "base.html" %}
<div class="container mt-5">

    <h1 class="mb-4">Deja un comentario</h1>

    {% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.name.label_tag }} {{ form.name }}
        </div>
        <div class="mb-3">
            {{ form.email.label_tag }} {{ form.email }}
        </div>
        <div class="mb-3">
            {{ form.message.label_tag }} {{ form.message }}
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    {% endblock %}
</div>
